<h1> the board goes here </h1>

<form method="get" action="/twixingboards/search">
  <input type="textfield" placeholder="hashtag search..." name="search_term">
  <button type="submit">Search</button>
</form>




