<%= render '/header.html.erb' %>

  <div class="twixingboard_id" id="<%= @twixingboard.id %>"></div>
  <!--admittedly not secure-->

  <div class="results-container clearfix">
  <!--   <div class="slider-container"> -->
     <div class="twixnotes_container clearfix">

    </div>
  </div>


<div class="footer sixteen columns">
  <hr class="bottom_line">

  <form class="search_form ten columns alpha">
    <input type="textfield" placeholder="twitter search..." class="search_term">
    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
  </form>
  <div class="message four columns omega"></div>
</div>


