
  <hr>

  <div class="twixingboard_id" id="<%= @twixingboard.id %>"></div>
  <!--admittedly not secure-->


 <h1 class="title">twixingboard</h1>
  <hr>

  <div class="twixingboard_id" id="<%= @twixingboard.id %>"></div>
  <!--admittedly not secure-->

  <div class="results-container">
  <!--   <div class="slider-container"> -->
     <div class="twixnotes_container">

    </div>
  </div>


  <hr>

  <form class="search_form">
    <input type="textfield" placeholder="twitter search..." class="search_term">
    <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
  </form>
  <div class="message"></div>


