<h2>enter the name of your Twixingboard</h2>

<form method="post" action="/twixingboards">
  <%= token_tag %>
  <input type="textfield" placeholder="name" name="[twixingboard]name">
  <button type="submit">submit</button>