<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twixing Board</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>
  <hr> 
  <p>
    <h1><%=@twixingboard.name %></h1>
  </p>
  <% unless @results.nil? %>
  tweets per second = <%= @results %>
  <% end %>
  <h3>my twixnotes</h3>
  
  <div class="results-container">
    <div class="slider-container">
     <div class="twixnotes_container">
      </div>
    </div>
  </div>
  
  
  <hr>



  <form method="get" action="/twixingboards/<%= @twixingboard.id%>/show">
    <input type="textfield" placeholder="hashtag search..." name="search_term">
    <button type="submit">Search</button>
  </form>

  
</div>
</body>
</html>
