<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Twixing Board</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>

<body>
  <hr> 
    <p>
      <h1><%=@twixingboard.name %></h1>
    </p>
      <% unless @results.nil? %>
        tweets per second = <%= @results %>
      <% end %>


  <div class="sliders">
    <div class="slider-vertical1">
      <label for="amount1">Volume:</label>
      <input type="text" id="amount1" style="border:0; color:#f6931f; font-weight:bold;">

      <div class="slider-vertical" id="twix-note-1" style="height:200px;"></div>
    </div>

  <hr>

<h3>my twixnotes</h3>
<div class="twixnotes_container">
  </div>

  <form method="get" action="/twixingboards/<%= @twixingboard.id%>/show">
    <input type="textfield" placeholder="hashtag search..." name="search_term">
    <button type="submit">Search</button>
  </form>

  <input id="volume" type="range" min="0" max="2" step="0.1" value="0.0"/>

</div>
  </body>
  </html>
