/*.slider-vertical {
  height: auto;
  width: auto;
  padding: 50px, 50px, 50px, 50px; 
  margin: 50px, 50px, 50px, 50px;
}

.twixnote_container {
  height: auto;
  width: auto;
  margin: 50px, 50px, 50px, 50px;
  padding: 50px, 50px, 50px, 50px; 
}

.slider-container {
  height: auto;
  width: auto;
  margin: 50px, 50px, 50px, 50px;
  padding: 50px, 50px, 50px, 50px; 
}

.results-container {
  height: auto;
  width: auto;
  margin: 50px, 50px, 50px, 50px;
  padding: 50px, 50px, 50px, 50px; 
}
*/
