/*.results-container {
  width: 900px;

}
.slider-container{
  padding: 50px 50px 50px 50px;
  margin: 20px 20px 20px 20px;
  display: inline-block;
  height: 100px;
  width: auto;
}

.twixnote_container{
  padding: 50px 50px 50px 50px;
  
}

*/

