body {
  background-color: #164F57;
  color: #D3D5CF;
  font-family: 'Codystar', cursive;
}
.title{
  color: #D3D5CF;
  font-family: 'Codystar', cursive;
  text-align: right;
}
h2{
  color: #D3D5CF;
  font-family: 'Play', sans-serif;

}
a {
  font-family: 'Codystar', cursive;
  text-decoration: none;
  color: #D3D5CF;

}
a:visited {
  font-family: 'Codystar', cursive;
  text-decoration: none;
  color: #D3D5CF;

}
.slider-vertical {
  margin-left: 40px;
}

.delete-btn {
margin-left: 31px;
margin-top: 14px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

