body {
  background-color: #164F57;
  color: #D3D5CF;
  font-family: 'Play', sans-serif;
}
.title{
  color: #D3D5CF;
  font-family: 'Play', sans-serif;
  text-align: right;
}
a {
  text-decoration: none;
  color: #D3D5CF;

}
a:visited {
  text-decoration: none;
  color: #D3D5CF;

}
.slider-vertical {
  margin-left: 40px;
}

.delete-btn {
margin-left: 31px;
margin-top: 14px;
}

